# General
jupyter
python-dotenv
pdf2image
numpy<2
pillow
requests
pandas

# OpenAI
openai

# MistralAI
mistralai

# Gemini
google-genai

# tesseract
pytesseract

# Google Cloud Vision API
google-cloud-vision
google-auth

# Levenshtein (edit) distance
levenshtein

# CER / WER
jiwer


